:root {
  --max-width: 1100px;
}
.container {
  max-width: var(--max-width);
  width: 95%;
  margin: auto;
}
img {
  width: 100%;
}
section {
  padding: 5rem 0;
}

*,
*::before,
*::after,
body,
html {
  list-style: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}
.nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 222;
  top: 0;
  background-color: #fff;
}
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.signup {
  border: 1px solid #212832;
  padding: 10px 15px;
  border-radius: 5px;
}
.nav_container ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  font-weight: 400;
  font-family: var(--font-volkhov);
  align-items: center;
}
.hero_container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  place-items: center;
}
.hero_section {
  padding-bottom: 0;
}
.hero_left {
  margin-top: -10rem;
}
.hero_left .tagline {
  color: #df6951;
  font-weight: 600;
  font-family: var(--font-poppins);
  font-size: 1.1rem;
}
.hero_left h2 {
  color: #181e4b;
  font-size: 3.8rem;
  font-family: var(--font-volkhov);
  margin-top: 0.4rem;
  font-weight: 700;
  position: relative;
}
.hero_left h2::before {
  position: absolute;
  content: url("../public//images/Decore.png");
  top: 6%;
  transform: scale(0.7);
  right: -10%;
  z-index: -1;
}
.hero_btns {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-top: 1.5rem;
}
.btn {
  background-color: #f1a501;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  font-family: var(--font-volkhov);
}
.play_demo img {
  width: 60px;
  height: 60px;
  margin-top: 10px;
}
.play_demo {
  background-color: transparent;
  color: #686d77;
  font-family: var(--font-poppins);
  font-weight: 600;
  display: flex;
  text-wrap: nowrap;
  align-items: center;
}
.hero_left p {
  color: #5e6282;
  margin: 10px 0;
  font-weight: 400;
  line-height: 1.2;
  font-size: 0.9rem;
  font-family: var(--font-poppins);
}

.section_header {
  text-align: center;
  padding-bottom: 3rem;
}
.section_header span {
  font-family: var(--font-poppins);
  font-weight: 400;
}
.section_header h2 {
  font-family: var(--font-volkhov);
  font-weight: 700;
}

.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 4rem;
}
.service {
  padding: 2rem 1rem;
  background-color: #fff;
  border-radius: 20px;
}
.service:nth-child(2) {
  box-shadow: 0px 5px 5px rgba(110, 110, 110, 0.5);
}
.service img {
  width: 92px;
  height: 78px;
}
.service h4 {
  font-family: var(--font-open_Sans);
  font-weight: 800;
  color: #1e1d4c;
  margin: 10px 0;
}
.service p {
  font-family: var(--font-poppins);
  font-size: 0.8rem;
}
.category_section {
  position: relative;
}
.category_section::before {
  position: absolute;
  content: url("../public//images/stars.png");
  top: 10%;
  right: 3%;
}
.destinations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  position: relative;
}
.destinations::before {
  content: url("../public//images/Decore2.png");
  position: absolute;
  bottom: 0;
  right: -3%;
  z-index: -7;
}
.destination {
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(110, 110, 110, 0.5);
  flex-direction: column;
}
.destination .dest_img {
  height: 457px;
}
.deatils {
  margin-top: -2rem;
  background: white;
  padding: 0 3rem;
  padding: 2rem 1rem;
  color: #5e6282;
  font-family: var(--font-poppins);
  font-weight: 500;
}
.name_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.duration {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  gap: 10px;
  margin-top: 15px;
}
.duration img {
  width: auto;
}
.booking_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.subheading {
  font-family: var(--font-poppins);
  font-weight: 800;
  font-size: 1.5rem;
  color: #5e6282;
}
.heading {
  color: #14183e;
  font-size: 3.2rem;
  margin: 10px 0;
  font-weight: 700;
  font-family: var(--font-volkhov);
}
.values {
  margin-top: 3rem;
  padding-right: 5rem;
}
.right .value {
  display: flex;
  gap: 10px;
  margin: 30px 0;
}
.right .value img {
  width: 50px;
}
.value .text {
  color: #5e6282;
}
.value .text h4 {
  font-family: var(--font-poppins);
  font-weight: 800;
  font-size: 1.2rem;
}
.value .text p {
  font-size: 1.1rem;
  padding: 0.3rem 0;
}
.booking_section,
.testimonal_section {
  padding-bottom: 0;
}
.testimonal_container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 10px;
}
.marquee_section {
  padding: 0;
}
.subscribe_container {
  background-color: #e5e5e5;
  padding: 4rem 0;
  text-align: center;
  border-radius: 4rem 0.4rem 0.4rem 0.4rem;
  position: relative;
}
.subscribe_container h4 {
  font-size: 2.4rem;
  padding: 0 5rem;
  color: #5e6282;
  font-family: var(--font-poppins);
  text-align: center;
  margin: 2rem 0;
}
.input_btn {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.7rem;
  justify-content: center;
}
.input_btn input {
  border-radius: 0.7rem;
  width: 25%;
  color: #14183e;
  font-size: 1rem;
  font-family: var(--font-poppins);
  padding: 0.8rem;
}
.subcribe_btn {
  background-color: #ff946d;
}
.subscribe_container::before {
  position: absolute;
  content: url("../public/images/Mask\ .png");
  scale: 0.7;
  left: -10%;
  top: 0;
}
.subscribe_container::after {
  position: absolute;
  content: url("../public/images/Mask\ .png");
  scale: 0.7;
  right: 0%;
  bottom: 10%;
}
.footer_section {
  padding-top: 0;
  font-family: var(--font-poppins);
}
.footer_container .top {
  display: grid;
  grid-template-columns: 1.4fr repeat(3, 1fr) 1.5fr;
  gap: 4rem;
}
.top p,
.top li {
  color: #5e6282;
}
.logo_tagline p,
.top ul {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}
.logo_tagline p {
  font-size: 0.9rem;
}

.top ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.get_on {
  text-align: center;
}
.get_on .social_icons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.social_icons img {
  width: 50px;
  height: 50px;
}
.get_on p {
  font-size: 1.1rem;
  font-weight: 800;
}
.get_on .download {
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 10px;
}
